* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.repo-container {
  margin: 0 1em;
}

.repo {
  margin: 1em 0;
}

.repo-title {
  font-size: 1.2em;
}
.repo-description {
  font-size: 0.9em;
  color: rgb(73, 73, 73);
}

.github-link a {
  color: blue;
  font-size: 0.9em;
}

.website-link a {
  font-size: 0.9em;
}
